# mv /etc/init.d/postfix to /etc/init.d/postfix.orig
#
# put this file in:
#   /etc/systemd/system
#
# initiate it by executing:

#   systemctl enable postfix
#   systemctl daemon-reload
#   systemctl stop postfix
#   systemctl start postfix
#   systemctl status postfix
#
# success looks something like:

#   systemctl status postfix
#   root@juvat2:/usr/local/git-repos/github/config-scripts# systemctl status postfix
#   * postfix.service - Postfix Mail Transport Agent
#      Loaded: loaded (/etc/systemd/system/postfix.service; enabled)
#      Active: active (exited) since Sun 2017-08-20 11:04:36 CDT; 2min 57s ago
#     Process: 10349 ExecStart=/bin/true (code=exited, status=0/SUCCESS)
#    Main PID: 10349 (code=exited, status=0/SUCCESS)

[Unit]
Description=Postfix Mail Transport Agent
Conflicts=sendmail.service exim4.service
ConditionPathExists=/etc/postfix/main.cf

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecReload=/bin/true

[Install]
WantedBy=multi-user.target
